html{
	scroll-behavior: smooth;
}
*{
	margin: 0;
	padding: 0;
}
.navbar{
	position: sticky;
	top: 0px;
}
.home{
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	margin: 25vh;
}
.homem{
	display: flex;
	flex-direction: column;
}
.serv{
	height: 70vh;
	display: flex;
	flex-direction: row-reverse;
}
.about{
	display: flex;
}
.con{
	margin: 0px 322px;
}
.cun{
	text-align: center;
}
